<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <link rel="stylesheet" href="../static/css/general.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/alt_rows.js"></script>
    <script type="text/javascript">
        window.onload = altBackendRow;
        window.onunload = closeConn;
    </script>
    <title>Backend collect info</title>
</head>
<body>
    {% include "header.html" %}
    <div style="margin:5px;position:fixed;top:50px;overflow:scroll;right: 0;left: 0;bottom: 0">
        <div class="uk-nav-header" id="best-platform" style="font-size: large">Backend collect info</div>
        <hr>
        <ul>
            <li style="list-style:none;float: left;">
            <input type="hidden" id="req_time" value="{{ req_time }}">
            <input type="hidden" id="collect_id">
            <button id="start_real_time" onclick="onclickwebsocketbtn()">Start Real Time Monitor</button>
            </li>
            <li style="list-style:none;float: left;padding-left: 10px">
            <label style="background: lightcyan">Real time connection state: </label>
            <label id="real_time_state"></label>
            <li style="list-style:none;float: left;padding-left: 10px">
            <label style="background: lightcyan">Current Time: </label>
            <label id="current-time"></label>
            </li>
            <li style="list-style:none;float: left;padding-left: 10px">
            <label style="background: lightcyan">Total: </label>
            <label id="pf-num"></label>
            </li>
            <li class="clear_float" style="list-style:none;"></li>
        </ul>
                    <table class="altrowstable" style="padding:40px;margin: 20px">
                    <thead>
                    <tr>
                        <th>Site</th>
                        <th>Platform</th>
                        <th>Begin</th>
                        <th>End</th>
                        <th>State</th>
                        <th>Counter</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%  for item in rss %}
                        <tr id="tr-{{ item.Current_platform.Site }}-{{ item.Current_platform.Platform }}">
                        <td class='itemvalue'>{{item.Current_platform.Site}}</td>
                        <td class='itemvalue'>{{item.Current_platform.Platform}}</td>
                        <td class='itemvalue'>{{item.Begin|date:"Y-m-d H:i:s.u"}}</td>
                        <td class='itemvalue'>{{item.End|date:"Y-m-d H:i:s.u"}}</td>
                        <td class='itemvalue'>{{item.State}}</td>
                        <td class='itemvalue'>{{item.Counter}}</td>
                        </tr>
                        {%  endfor %}
                    </tbody>
                    </table>

    </div>

</body>
</html>