<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <link rel="stylesheet" href="../static/css/general.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/alt_rows.js"></script>
    <title>Best Display Machine List</title>
</head>
<body>
    {% include "header.html" %}
    <div >
        <div class="uk-flex-item-none x-sidebar-left" style="margin:5px;position:fixed;top:50px;bottom:0">
            <div class="uk-float-right" style="padding-top:5px">
                <a href="#0" onclick="expandWikiNode($('#x-wiki-index>div>i'), true)" style="margin-left:5px">
                    <i class="uk-icon-expand"></i>
                </a>
                <a href="#0" onclick="collapseWikiNode($('#x-wiki-index>div>i'), true)" style="margin-left:5px">
                    <i class="uk-icon-compress"></i>
                </a>
            </div>
            <ul class="uk-nav uk-nav-side">
                <li class="uk-nav-header" id="display_info">Display Info</li>
            </ul>
            <ul id="x-wiki-index" class="uk-nav uk-nav-side" style="margin-right:-15px;width: 200px">
                {%  for floor in rooms %}
                    <div id="menu-floor-{{ forloop.counter }}" depth="0" style="position:relative;margin-left:15px;" class="uk-active" expand="true">
                        <i onclick="toggleWikiNode(this)" class="uk-icon-minus-square-o" style="position:absolute;margin-left:-1em;padding-top:4px;"></i>
                        <label class="x-wiki-index-item" style="width: 200px;color: #336699;">{{ floor.name }}</label>
                        {% for room in floor.rooms %}
                        <div id="menu-{{ room.short }}" depth="1" style="position: relative; margin-left: 15px;">
                            <a href="#div-floor-{{ room.short }}" class="x-wiki-index-item" style="width: 115px">{{ room.short }}&nbsp;{{room.name}}</a>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </ul>
            <ul>
                <li style="list-style:none;padding: 5px">
                    <label class="node_info" conflict="Y" style="width: 15px">&nbsp;&nbsp;</label>
                    <label>&nbsp;&nbsp;conflict</label>
                </li>
                <li style="list-style:none;padding: 5px">
                    <label class="tty_text" active="True" style="width: 15px">&nbsp;&nbsp;</label>
                    <label>&nbsp;&nbsp;active</label>
                </li>
            </ul>
            <ul style="border: solid 2px;background: yellow;color: black;">
                <div>Note:</div><br>
                <div>1. Double click TTY name to edit active tty!</div><br>
                <div>2. Double click NODE name to edit node display!</div><br>
                <div>3. You can set the timeout for restart a node!</div><br>
                <div>4. Key mapping fixed after restarting!</div>
            </ul>
        </div>

        <div class="right_content">

            {%  for room_info in room_infos %}

            <div id="div-floor-{{ room_info.room }}" class="content_item">
                <h3>{{ room_info.room }}</h3>

                {% for d in room_info.ds %}

                <div id='div-{{ d.n.Host_name }}' class="column_item">
                    <div class="dm_host platform-node-name">
                        <div class="dm-host-name">{{ d.n.Node }}</div>
                        <div class="dm-os">{{ d.n.os }}</div>
                        <div class="dm-usr">{{ d.n.usr }}</div>
                        <div class="clear_float"></div>
                    </div>
                    <div>
                        <label>Expected timeout:</label>
                        <input type="text" class="timeout_value" style="width: 60px" value="180" onblur="onblurTimout(this)">
                        <input type="hidden" value="180" >
                        <label>Second(s)</label>
                    </div>
                    <div id="error_message" style="height: 20px"></div>
                    <div class="dpy_info">
                    <input type="hidden" id="last-modified-{{ d.n.Node }}" value="{{ d.n.n_t}}" />
                    {%  for x in d.xs %}
                            <div class="tty_info">
                                <div class="tty_text" ondblclick="dbclick_display_tty(this)"  active="{{ x.x.Active }}">TTY{{ x.x.Tty }}</div>
                                <div class="node_info" conflict="{{ x.conflict }}">
                                   {% ifequal x.n_name '' %}
                                   <div class="node_text" title="{{ x.n_name }}" ondblclick="dbclick_display_nodes(this)">&nbsp;</div>
                                   {% else %}
                                   <div class="node_text" title="{{ x.n_name }}" ondblclick="dbclick_display_nodes(this)">{{ x.n_name }}</div>
                                       {% for nod in x.n_time %}
                                            <input type="hidden" class="last-modified-time" id="last-modified-{{ nod.n }}" value="{{ nod.t }}" run="{{ nod.r }}" />
                                       {% endfor %}
                                   {% endifequal %}
                                </div>
                                <button class="restart_btn " id="restart_mmi-{{ d.n.Node }}-{{ x.x.Tty }}"  onclick="onclick_restart_mmi_btn(this)">Restart</button>
                                <!--button class="uk-button uk-button-primary restart_btn " id="restart_mmi-{{ d.n.Node }}-{{ x.x.Tty }}"  onclick="onclick_restart_mmi_btn(this)" style="font-size: 10px;padding: 1px;">Restart</button-->
                                <div class="clear_float"></div>
                            </div>

                    {% endfor %}

                    </div>
                </div>
                {%  endfor %}

                <div class="clear_float"></div>
            </div>

            {%  endfor %}

        </div>

    </div>

</body>
</html>