<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:image/ico;base64,aWNv">
    <link rel="stylesheet" href="../static/css/general.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <script type="text/javascript" src="../static/js/alt_rows.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <title>Best Display Machine List</title>
</head>
<body>
    <div >
        <div class="uk-flex-item-none x-sidebar-left" style="margin:5px;position:fixed;top:0;bottom:0">
            <div class="uk-float-right" style="padding-top:5px">
                <a href="#0" onclick="expandWikiNode($('#x-wiki-index>div>i'), true)" style="margin-left:5px">
                    <i class="uk-icon-expand"></i>
                </a>
                <a href="#0" onclick="collapseWikiNode($('#x-wiki-index>div>i'), true)" style="margin-left:5px">
                    <i class="uk-icon-compress"></i>
                </a>
            </div>
            <ul class="uk-nav uk-nav-side">
                <li class="uk-nav-header" id="display_info">Display Info</li>
            </ul>
            <ul id="x-wiki-index" class="uk-nav uk-nav-side" style="margin-right:-15px;width: 200px">
                {%  for floor in rooms %}
                    {% if forloop.first %}
                    <div id="menu-floor-15" depth="0" style="position:relative;margin-left:15px;" class="uk-active" expand="true">
                    {% else %}
                    <div id="menu-floor-16" depth="0" style="position:relative;margin-left:15px;" class="uk-active" expand="true">
                    {% endif %}
                        <i onclick="toggleWikiNode(this)" class="uk-icon-minus-square-o" style="position:absolute;margin-left:-1em;padding-top:4px;"></i>
                        {% if forloop.first %}
                        <label class="x-wiki-index-item" style="width: 200px;color: #336699;">15层:</label>
                        {% else %}
                        <label class="x-wiki-index-item" style="width: 200px;color: #336699;">16层:</label>
                        {% endif %}
                        {% for room in floor %}
                        <div id="menu-{{ room.short }}" depth="1" style="position: relative; margin-left: 15px;">
                            <a href="#div-floor-{{ room.short }}" class="x-wiki-index-item" style="width: 115px">{{ room.short }}&nbsp;{{room.name}}</a>
                        </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </ul>
            <ul>
                <li style="list-style:none;padding: 5px">
                    <label class="tty_info" conflict="Y">&nbsp;&nbsp;</label>
                    <label>&nbsp;&nbsp;conflict tty</label>
                </li>
                <li style="list-style:none;padding: 5px">
                    <label class="tty_info" active="True">&nbsp;&nbsp;</label>
                    <label>&nbsp;&nbsp;active tty</label>
                </li>
            </ul>
            <ul style="border: solid 2px ">
                <label>Note: Double click node name to edit!</label>
            </ul>
        </div>

        <div class="right_content">

            {%  for room_info in room_infos %}

            <div id="div-floor-{{ room_info.room }}" class="content_item">
                <h3>{{ room_info.room }}</h3>

                {% for d in room_info.ds %}

                <div id='div-{{ d.n.Host_name }}' class="column_item">
                    <div class="dm_host">{{ d.n.Host_name }}</div>
                    <div id="error_message" style="height: 20px"></div>
                    <div class="dpy_info">

                    {%  for x in d.xs %}

                            <div class="tty_info" conflict="{{ x.conflict }}" active="{{ x.x.Active }}">
                                <div class="tty_text">TTY{{ x.x.Tty }}</div>
                                <div class="node_info">
                                   {% ifequal x.n_name '' %}
                                   <div class="node_text" title="{{ x.n_name }}" ondblclick="dbclick_tty_nodes(this)">&nbsp;</div>
                                   {% else %}
                                   <div class="node_text" title="{{ x.n_name }}" ondblclick="dbclick_tty_nodes(this)">{{ x.n_name }}</div>
                                       {% for nod in x.n_time %}
                                       <input type="hidden" id="last-modified-{{ nod.n }}" value="{{ nod.t }}" />
                                       {% endfor %}
                                   {% endifequal %}
                                </div>
                                <div class="clear_float"></div>
                            </div>

                    {% endfor %}

                    </div>
                </div>
                {%  endfor %}

                <div class="clear_float"></div>
            </div>

            {%  endfor %}

        </div>

    </div>

</body>
</html>