<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Platform Mapping</title>
    <style>
        input {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
        }

        button {
            padding: 10px 30px;
            border: 1px solid #ccc;
            background: #f5f5f5;
            cursor: pointer;
        }

        #res {
            margin-top: 30px;
        }
        #res table {
            table-layout: fixed;
            border-collapse: collapse;
        }
        #res td{
            padding: 20px;
        }
    </style>
</head>
<body>
    <h1>Platform Mapping</h1>
    <hr>
    <ul>
        <li>
            <a href="/platform/" ><span>Platform node info</span></a>
        </li>
        <li>
            <a href="/physical/" ><span>Physical machine info</span></a>
        </li>
        <li>
            <a href="/display/" ><span>Display machine info</span></a>
        </li>
        <li>
            <a href="/backend/" ><span>Collect platform info</span></a>
        </li>
    </ul>
    <hr>

</body>
</html>