<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/general.css" />
    <script type="text/javascript" src="../static/alt_rows.js"></script>
    <script type="text/javascript" src="../static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/jquery.tablesorter.js"></script>
    <script type="text/javascript">
        window.onload = function(){
          console.log("onload");
          altRows('alternatecolor');
          }
    </script>
    <title>Best Physical Machine List</title>
</head>
<body>
    <script type="text/javascript">
     $(document).ready(function() {
     $(".altrowstable").tablesorter();
     });
    </script>
    <h1>Best Physical Machine List</h1>
    {%  for physical in physicals %}
        {% if not farloop.first %}
            &nbsp;
        {% endif %}
        <span class="hostname">
            <a href="javascript:void(0);" onclick="onClickItem(this, 'physical')">{{physical}}</a>
        </span>
    {%  endfor %}
    <hr>
    <div id="res">
    <h3>{{ selected.Host_name }}</h3>
    Total: {{ attr.total }}  Running: {{ attr.running }}
        <table class="altrowstable" id="alternatecolor">
        <thead>
        <tr>
            <th>Name</th>
            <th>OPS_Name</th>
            <th>Host</th>
            <th>Reachable</th>
            <th>Id_in_host</th>
            <th>Running</th>
            <th>Thalix</th>
            <th>Display</th>
            <th>Config</th>
            <th>CSCI</th>
        </tr>
        </thead>
        <tbody>
            {%  for item in nodes %}
            <tr id={{ forloop.counter }} onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="altRow(this)">
            <td class='itemvalue'>{{item.Name}}</td>
            <td class='itemvalue'>{{item.OPS_Name}}</td>
            <td class='itemvalue'>{{item.Host}}</td>
            <td class='itemvalue'>{{item.Reachable}}</td>
            <td class='itemvalue'>{{item.Id_in_host}}</td>
            <td class='itemvalue'>{{item.Running}}</td>
            <td class='itemvalue'>{{item.Thalix}}</td>
            <td class='itemvalue'>{{item.Display}}</td>
            <td class='itemvalue'>{{item.Config}}</td>
            <td class='itemvalue'>{{item.CSCI}}</td>
            </tr>
            {%  endfor %}
        </tbody>
        </table>
        </div>
</body>
</html>